/* Default background */
body {
  background-color: #ff00ff; /* Vivid magenta */
  margin: 0;
  font-size: 64px;
  font-family: 'Bebas Neue', sans-serif;
}

/* First breakpoint */
@media only screen and (max-width: 1024px) {
  body {
    background-color: #ff4500; /* Neon orange */
  }
}

/* Second breakpoint*/
@media only screen and (max-width: 900px) {
  body {
    background-color: #00ffff; /* Vibrant cyan */
  }
}

/* Third breakpoint*/
@media only screen and (max-width: 768px) {
  body {
    background-color: #00ff00; /* Electric green */
  }
}

/* Fourth breakpoint*/
@media only screen and (max-width: 480px) {
  body {
    background-color: #ff1493; /* Deep pink */
  }
}
